@*@model IEnumerable<Advocate.Dtos.ActDto>*@
@model Advocate.Wrappers.PagedResponse<List<Advocate.Dtos.ActDto>>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-8"><h4>Act <b>List</b></h4></div>
    <div class="col-sm-4">
        <button type="button" onclick="location.href='@Url.Action("create", "act")'" class="btn btn-info btn-style float-lg-right"><i class="fa fa-plus"></i> Add New</button>
    </div>
</div>
<hr />
<table class="table acttypetable cell-border" cellspacing="0">
    <thead>
        <tr>
            <th style="width:5% !important">Sr.No. </th>
            <th style="width:10% !important">Act Type</th>
            <th style="width:10% !important">Act No</th>
            <th style="width:10% !important">Act Year</th>
            <th style="width:45% !important">Act Name</th>
            <th style="width:20% !important" align="center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>@(@item.Index+1)</td>
                <td>@item.Data.ActType</td>
                <td>@item.Data.ActNumber</td>
                <td>@item.Data.ActYear</td>
                <td>@item.Data.ActName</td>
                <td>
                    <a class="edit" onclick="checkactnature(@item.Data.Id)" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                    <a class="detail" asp-action="Details" asp-route-id="@item.Data.Id" title="Detail" data-toggle="tooltip"><i class="material-icons">description</i></a>
                    <a class="delete" onclick="deleteRecord('@item.Data.Id')" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    @*<a onclick="DownloadFileFormat('act_file_format.doc')"  title="Download act template for edit" data-toggle="tooltip"><i class="material-icons cloud_download">&#xe2c0;</i></a>*@
                    <a onclick="DownloadActByUser('act_file_format.pdf')" title="Download act pdf" data-toggle="tooltip"><i class="material-icons cloud_download">&#xe2c0;</i></a>
                    <a onclick="UploadActPdf()" title="Upload act pdf" data-toggle="tooltip"><i class="material-icons cloud_upload">&#xe2c3;</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevdisbaled = !Model.HasPrevious ? "disabled" : "";
    var nexdisbaled = !Model.HasNext ? "disabled" : "";
}

<a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber-1)" class="btn btn-default @prevdisbaled">Previous</a>
<a asp-action="Index" asp-route-PageNumber="@(Model.PageNumber+1)" class="btn btn-default @nexdisbaled">Next</a>

<div id="uploadModelPopup" class="modal fade;" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Act File As PDF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="actlist">
                <input type="file" id="act_pdf" name="act_padf" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @*data-dismiss="modal"*@ id="btnUpload">Upload</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/list_act.js"></script>
    
}


