@model IEnumerable<Advocate.Dtos.RuleDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-8"><h4>Rule <b>List</b></h4></div>
    <div class="col-sm-4">
        <button type="button" onclick="location.href='@Url.Action("create", "rule")'" class="btn btn-info btn-style float-lg-right"><i class="fa fa-plus"></i> Add New</button>
    </div>
</div>
<hr />
<table class="table acttypetable cell-border" cellspacing="0" id="tblRule" style="width:100%!important">
    <thead>
        <tr>
            <th style="width:5%!important">Sr.No. </th>
            <th style="width:10%!important" class="nosort">Act Type</th>
            <th style="width:20%!important" class="nosort">Act Name</th>
            <th style="width:10%!important" class="nosort">Rule Type</th>
            <th style="width:10%!important" class="nosort">Rule No</th>
            <th style="width:35%!important">Rule Name</th>
            <th style="width:10%!important" align="center" class="nosort">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>@(@item.Index+1)</td>
                <td>@item.Data.ActType</td>
                <td>@item.Data.ActName</td>
                <td>@item.Data.RuleType</td>
                <td>@item.Data.RuleNo</td>
                <td>@item.Data.RuleName</td>
                <td>
                    <a class="edit" onclick="checkactnature(@item.Data.Id)" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                    <a class="detail" asp-action="GetRuleDetail" asp-route-id="@item.Data.Id" title="Detail" data-toggle="tooltip"><i class="material-icons">description</i></a>
                    <a class="delete" asp-action="Delete" asp-route-id="@item.Data.Id" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/list_rule.js"></script>
}


