@model List<Advocate.Dtos.GazzetDataDto>
<table id="tblEGazzet" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Sno.</th>
            <th>Organization</th>
            <th>Subject</th>
            <th>Issue Date</th>
            <th>Publish Date</th>
            <th>Reference No</th>           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>@(@bt.Index + 1)</td>
                <td>
                    @bt.Data.oraganization
                </td>
                <td>
                    @bt.Data.subject
                </td>
                <td>
                    @bt.Data.issue_date
                </td>
                <td>
                    @bt.Data.publish_date
                </td>
                <td>
                    @bt.Data.reference_no
                </td>
                <td>
                    <a href="@bt.Data.file_name" target="_blank" title="Detail" data-toggle="tooltip"><span class="material-icons">picture_as_pdf</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblEGazzet").DataTable();
    });
</script>